* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --title-color: #4F686F;
    --second-title-color: #3E4F66;
    --under-title-color: #7FAEC5;
    --highlight-color: #69CD58;
    --title-font: 'Raleway', sans-serif;
    --second-font: 'Open Sans', sans-serif;
    --title-font-size: 3rem;
    --second-font-size: 1.3rem;
    --title-font-weight: 700;
    --second-font-weight: 500;
    --third-font-size: 1.4rem;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

header {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 12;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 2em;
}

.nav-container nav a {
    display: none;
    bottom: 0;
}

.nav-container h1 {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: var(--title-font-weight);
    color: var(--title-color);
}

.nav-container button {
    margin-right: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: var(--second-font-size);
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    cursor: pointer;
}

.nav-container button::after {
    content: "";
    display: flex;
    flex-direction: row;
    transition: rotate 0.3s ease;
    line-height: 1em;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
    background-color: currentColor;
    width: 0.5em;
    aspect-ratio: 1/0.86;
    transition: transform 0.3s ease;
}

.menuButton_active::after {
    transform: rotate(180deg);
}

.nav-container nav ul li a {
    display: flex;
}

.nav-container nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    list-style: none;
    text-align: center;
    width: 100%;
    left: 0;
    margin-top: 0.6rem;
    background-color: white;
    align-items: center;
    font-size: 2rem;
    line-height: 3rem;
    background-color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

header a, header button {
    text-decoration: none;
    color: var(--title-color);
    font-family: var(--title-font);
}

.nav-container nav ul.dropdown_active {
    display: flex;
}

progress {
    width: 100%;
    height: 0.6rem;
    border: none;
}

progress::-webkit-progress-bar {
    background-color: #e3e8e9;
}

progress::-webkit-progress-value {
    background-color: var(--under-title-color);
    transition: 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
}

#main_section {
    height: 105vh;
    background-image: url(../assets/main.svg);
    background-position: center bottom;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    z-index: 1;
}

#main_section h1 {
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: var(--title-font-weight);
    color: var(--title-color);
    position: absolute;
    width: 70vw;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: -1;
}

#main_section h2 {
    font-family: var(--second-font);
    font-size: 1.6rem;
    font-weight: var(--second-font-weight);
    color: var(--under-title-color);
    position: absolute;
    width: 55vw;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: -1;
}

#waarom_section {
    height: 100vh;
    padding: 4rem 10% 0 10%;
    background-color: #FAFAFA;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

#waarom_section h1 {
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: var(--title-font-weight);
    color: var(--title-color);
}

#contact_section {
    overflow: hidden;
    height: 100vh;
}

#contact_section h1 {
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: var(--title-font-weight);
    color: white;
    margin: 0 10% 0 10%;
}

#contact_section h2 {
    font-family: var(--title-font);
    font-size: var(--third-font-size);
    font-weight: var(--second-font-weight);
    color: white;
    margin: 0 10% 0 10%;
}


#contact {
    background-color: #3E4F66;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
}


#info_button {
    background-image: url(../assets/arrow_down.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 2rem 5rem;
    width: 100%;
    height: 5rem;
    background-color: #7FAEC5;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    overflow: hidden;
    box-shadow: 0px 0 10px rgba(127, 174, 197, 0.5);

}


#info_list.visible {
    display: block;
}

#info_button ul {
    display: none;
    transition: 0.3s ease;
    color: white;
    font-family: var(--title-font);
    font-weight: var(--second-font-weight);
    font-size: var(--second-font-size);
    margin-top: 2rem;
}

#info_button ul li {
    margin-bottom: 1rem;
}

#contact form {
    position: absolute;
    top: 10rem;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
}


input[type=text], input[type=email], textarea{
    color: white;
    background-color: transparent;
    height: 3rem;
    border: none;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 1rem;
}

textarea{
    height: 6rem;
}

::placeholder{
    color: white;
}

input[type=submit] {
    height: 3rem;
    margin: 1rem;
    background-color: #7FAEC5;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 5px;
    margin-top: 1rem;
    transition: 0.1s ease;
}

input[type=text], input[type=email], input[type=submit], textarea{
    font-family: var(--title-font);
    font-size: 1rem;
}